.flex-container {
    display: flex;
    background-color: #a8a8a8;
    align-items: center;
  }
  
  .flex-container > div  {
    background-color: #1106b4;
    width: 100px;
    margin: 20px;
    text-align: center;
    align-items: center;
    line-height: 100px;
    font-size: 30px;
  }